.Rproj.user
.Rhistory
.RData
.Ruserdata
''lordhowe_black_on_white_width9_height11'.png'
.png
cruces_animation.RData
kiska_vaporwave_width8.5_height6.5.png
las_cruces_animation.R
png
Rplot.png
topo.ridges.Rproj
example.R
